.sectionTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px #AAAAAA solid;
}

.sectionWrap {
    margin: 0 auto;
    width: 100%;
    /* display: flex; */
    min-height: 200px;
    /* border: 3px #ccc solid; */
}

.sectionContentWrap {
    margin-bottom: 60px;
    padding: 30px;
    width: 100%;
    /* height: 450px; */
    /* min-height: 200px; */
    display: flex;
    /* background: green; */
}

.sectionContentLeft {
    width: 50%;
    height: 100%;
    /* background: red; */
}

.sectionContentRight {
    width: 50%;
    height: 100%;
    /* background: blue; */
    /* border: 3px #ccc solid; */
}

#selfIntroduction .sectionContentLeft {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#selfIntroduction .sectionContentRight > div {
    margin-bottom: 15px;
    width: 100%;
    border: 2px #666 solid;
    border-radius: 16px;
}

#selfIntroduction .sectionContentRight h3 {
    margin-bottom: 0.6rem;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

#selfIntroduction .sectionContentRight .contentStatus {
    margin: 0 auto;
    width: 60%;
    /* background: red; */
}

#selfIntroduction .sectionContentRight .contentStatus p {
    /* margin-bottom: 0.6rem; */
    margin-bottom: 1rem;
    font-size: 20px;
}

#selfIntroduction .sectionContentRight .contentStatus p:last-child {
    margin-bottom: 2rem;
}

#MyIcon {
    /* height: 100%; */
    height: 450px;
    /* background-color: yellow; */
    border: 2px #666 solid;
    border-radius: 50%;
}


#myWorks .sectionContentWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workItem {
    margin-right: 80px;
    margin-bottom: 80px;
    width: 400px;
    height: 450px;
    background: red;
}

#myWorks .sectionContentWrap::after {
    content: "";
    margin-right: 80px;
    margin-bottom: 80px;
    display: block;
    width: 400px;
}